h1 {
	text-align: center;
}

form {
	width: 600px;
	margin: auto;
	padding: 10px;
	border: solid;
	display: flex;
	flex-direction: column;
	min-height: 300px;
	gap: 16px;
}

form > * {
	padding: 4px;
	font-size: 1.2rem;
}
